
<div class="panel panel-primary" style="width: 400px; margin: 0 auto">
   <div class="panel-heading" style=";height:70px">
   	 <a class="navbar-link navbar-left" href="http://www.connexxus.com.br">
       <%=image_tag('logo-mini.png',width: '103px', height: '50px',:class =>'img-thumbnail')%>
     </a>
     
     <center>SIC - Sistema Integrado Connexxus</center>
     
       	
   </div>
   <div class="panel-body">
     <%= form_tag do %>
     <div class="form-group">
       <div class="field">
         Login<br>
         <%= text_field_tag :login, params[:login], :type => 'email', :class => 'form-control', :placeholder=>'Digite o email' %>
       </div>
       <div class="field">
         Senha<br>
         <%= password_field_tag :password, params[:password], :class=>'form-control' %>
       </div>
    </div>
    <div class="actions">
      <%= submit_tag 'Login', :class => 'btn btn-default' %>
    </div>
    <% end %>
    </div>
    <div class="container-fluid">
     <% if flash[:alert] %>
       <div class="alert alert-danger"><p id="notice"><%= flash[:alert] %></p></div> 
     <%end%>
     </div>
</div>
