<%= form_for(@departamento) do |f| %>
<% if @departamento.errors.any? %>
<div class="alert alert-danger">
	<h5><%= pluralize(@departamento.errors.count, "error") %> Dados inválidos para gravação:</h5>
	<ul>
		<% @departamento.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<div class="row">
		<div class="col-md-12">
			Descrição
			<br>
			<%= f.text_field :descr,:class => 'form-control',:style=>"text-transform:uppercase",:onblur=>"this.value=this.value.toUpperCase()" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			Pertence ao Depto.
			<br>
           <select id="departamento_id" name="departamento[departamento_id]" class="form-control">
             <option value="0">Nenhum</option>
             <%= options_for_select(@departamento.listar(Departamento.all,{:container=>@arvore}), @departamento.departamento_id) %> 
           </select>
		</div>
	</div>
</div>

<div class="actions">
	<%= f.submit 'Gravar Departamento', :class => 'btn btn-default' %>
</div>
<% end %>


