<h1>Cadastro de Departamentos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th style="width: 10%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.descr %></td>
        <td><%= link_to 'Mostrar', departamento,:class=>'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Editar', edit_departamento_path(departamento),:class=>'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Apagar', departamento, method: :delete, data: { confirm: 'Tem Certeza?' },:class=>'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Departamento', new_departamento_path, :class=> 'btn btn-default' %>
