<%= form_for(@serienum) do |f| %>
  <% if @serienum.errors.any? %>
   <div class="alert alert-danger">
      <h5><%= pluralize(@serienum.errors.count, "error") %> Dados invalidos para o numero de serie:</h5>

      <ul>
      <% @serienum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="form-group">
    <div class="row">
       <div class="col-md-11">   
         <%= f.text_field :produto_id, :type=>'hidden' %> 
         <h3><span class="label label-primary"><%= @serienum.produto.descr %></span></h3>
       </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          Número de Serie<br>
          <%= f.text_field :numero,:class => 'form-control',:maxlength=>40,:style=>"text-transform:uppercase",:onblur=>"this.value=this.value.toUpperCase()" %>
        </div>
        <div class="col-md-3">
          Custo Líquido<br>
          <%= f.text_field :custo_liq,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %>
        </div>
        <div class="col-md-3">
          Preço de Venda<br>
          <%= f.text_field :preco_venda,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %>
        </div>
        <div class="col-md-3">
          Estoque<br>
          <%= f.text_field :estoque,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           Tamanho com emb. (LxAxP) 
            <div class="row no-gutter"> 
              <div class="col-sm-4"><%= f.text_field :larg_ce,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %></div>
              <div class="col-sm-4"><%= f.text_field :altura_ce,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %></div>
              <div class="col-sm-4"><%= f.text_field :profund_ce,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %></div>
           </div>
        </div>
        <div class="col-md-4">
           Tamanho sem emb. (LxAxP) 
            <div class="row no-gutter"> 
             <div class="col-sm-4"><%= f.text_field :larg_se,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %></div>
             <div class="col-sm-4"><%= f.text_field :altura_se,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %></div>
             <div class="col-sm-4"><%= f.text_field :profund_se,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %></div>
           </div>
        </div>
        <div class="col-md-2">
           Peso com Emb.<br>
           <%= f.text_field :peso_ce,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %>
        </div>
        <div class="col-md-2">
           Peso sem emb.<br>
           <%= f.text_field :peso_se,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %>
        </div>
  </div>
      <% 
       @fornecedor = Participante.new
       @fornecedores = Participante.where("cli_ou_for <> 'C'")
       @fabricante = Participante.new
       @fabricantes = Participante.where("cli_ou_for <> 'C'")
    %>
  <div class="row">
       <div class="col-md-4">
       Fornecedor<br>
           <select id="fornecedor_id" name="serienum[fornecedor_id]" class="form-control">
             <option value="0">Escolha um fornecedor</option>
             <%= options_for_select(@fornecedor.listar(@fornecedores,{:container=>@arvore}), @serienum.fornecedor_id) %> 
           </select>
       </div>
       <div class="col-md-4">
          Código no Fornecedor<br>
          <%= f.text_field :codigo_forn,:class => 'form-control',:maxlength=>20 %>
       </div>
       <div class="col-md-4">
       Fabricante<br>
           <select id="fabricante_id" name="serienum[fabricante_id]" class="form-control">
             <option value="0">Escolha um fabricante</option>
             <%= options_for_select(@fabricante.listar(@fabricantes,{:contaoiner=>@arvore}), @serienum.fabricante_id) %> 
           </select>
       </div>
  </div>
</div>
<div class="actions">
    <%= f.submit 'Gravar Numero de Série', :class => 'btn btn-default' %>
</div>
<% end %>
