<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @serienum.numero %>
</p>

<p>
  <strong>Custo liq:</strong>
  <%= @serienum.custo_liq %>
</p>

<p>
  <strong>Preco venda:</strong>
  <%= @serienum.preco_venda %>
</p>

<p>
  <strong>Estoque:</strong>
  <%= @serienum.estoque %>
</p>

<p>
  <strong>Larg ce:</strong>
  <%= @serienum.larg_ce %>
</p>

<p>
  <strong>Altura ce:</strong>
  <%= @serienum.altura_ce %>
</p>

<p>
  <strong>Profund ce:</strong>
  <%= @serienum.profund_ce %>
</p>

<p>
  <strong>Larg se:</strong>
  <%= @serienum.larg_se %>
</p>

<p>
  <strong>Altura se:</strong>
  <%= @serienum.altura_se %>
</p>

<p>
  <strong>Profund se:</strong>
  <%= @serienum.profund_se %>
</p>

<p>
  <strong>Peso ce:</strong>
  <%= @serienum.peso_ce %>
</p>

<p>
  <strong>Peso se:</strong>
  <%= @serienum.peso_se %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @serienum.produto_id %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @serienum.fornecedor_id %>
</p>

<p>
  <strong>Codigo forn:</strong>
  <%= @serienum.codigo_forn %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @serienum.fabricante_id %>
</p>

<%= link_to 'Edit', edit_serienum_path(@serienum) %> |
<%= link_to 'Back', serienums_path %>
