<div class="panel panel-default" style="width: 800px;margin: 0 auto">
    <div class="panel-heading">
        <h4>Detalhe do Produto</h4>
    </div>
    <div class="panel-body">
<p>
  <strong>Descrição:</strong>
  <%= @produto.descr %>
</p>

<p>
  <strong>Descrição externa:</strong>
  <%= @produto.descr_externa %>
</p>

<p>
  <strong>Código de Barras:</strong>
  <%= @produto.barras %>
</p>

<p>
  <strong>N.C.M:</strong>
  <%= @produto.ncm %>
</p>

<p>
  <strong>Margem mínima::</strong>
  <%= @produto.marg_min %>
</p>

<p>
  <strong>Margem média:</strong>
  <%= @produto.marg_med %>
</p>

<p>
  <strong>Margem máxima:</strong>
  <%= @produto.marg_max %>
</p>

<p>
  <strong>Unidade de medida:</strong>
  <%= @produto.unid_med %>
</p>

<p>
  <strong>Endereço de gondola:</strong>
  <%= @produto.end_gondola %>
</p>

<p>
  <strong>Garantia (meses):</strong>
  <%= @produto.garantia_meses %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @produto.departamento.descr %>
</p>

<p>
  <strong>Finalidade:</strong>
  <%= @produto.finalidade.descr %>
</p>
        <% if notice %>
        <div class="alert alert-info">
            <p id="notice">
                <%= notice %>
            </p>
        </div>
        <%end%>

    </div>
</div>

<ul class="pager">
    <li>
        <%= link_to 'Editar', edit_produto_path(@produto) %>
    </li>
    <li>
        <%= link_to 'Voltar', produtos_path %>
    </li>
</ul>
