<div class="panel panel-default" style="width: 1000px;margin: 0 auto">
    <div class="panel-heading">
        <h4>Detalhe do Produto</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <strong>Descrição:</strong>
                <br>
                <%= @produto.descr %>
            </div>
            <div class="col-md-6">
                <strong>Descrição externa:</strong>
                <br>
                <%= @produto.descr_externa %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <strong>Código de Barras:</strong>
                <br>
                <%= @produto.barras %>
            </div>
            <div class="col-md-2">
                <strong>N.C.M:</strong>
                <br>
                <%= @produto.ncm %>
            </div>

            <div class="col-md-2">
                <strong>Margem mínima:</strong>
                <br>
                <%= number_to_percentage @produto.marg_min %>
            </div>
            <div class="col-md-2">
                <strong>Margem média:</strong>
                <br>
                <%= number_to_percentage @produto.marg_med %>
            </div>
            <div class="col-md-2">
                <strong>Margem máxima:</strong>
                <br>
                <%= number_to_percentage @produto.marg_max %>
            </div>
            <div class="col-md-2">
                <strong>Unidade de medida:</strong>
                <br>
                <%= @produto.unid_med %>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <strong>Endereço de gondola:</strong>
                <br>
                <%= @produto.end_gondola %>
            </div>
            <div class="col-md-1">
                <strong>Garantia (meses):</strong>
                <br>
                <%= @produto.garantia_meses %>
            </div>
            <div class="col-md-4">
                <strong>Departamento:</strong>
                <br>
                <%= @produto.departamento.descr %>
            </div>
            <div class="col-md-4">
                <strong>Finalidade:</strong>
                <br>
                <%= @produto.finalidade.descr %>
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Séries</strong>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-condensed table_serie">
                <thead>
                    <th>Número</th>
                    <th>Custo Liq.</th>
                    <th>Preço Venda</th>
                    <th>Estoque</th>
                    <th>(LxAxP) c/emb</th>
                    <th>(LxAxP)</th>
                    <th>Peso c/emb</th>
                    <th>Peso</th>
                    <th>Fornecedor</th>
                    <th>Código no Fornec.</th>
                    <th>Fabricante</th>
                </thead>
                <tbody>
                  <% @produto.serienums.each do |serie| %>
                  <tr>
                    <td><%= serie.numero %></td>
                    <td><%= number_to_currency serie.custo_liq %></td>
                    <td><%= number_to_currency serie.preco_venda %></td>
                    <td><%= serie.estoque %></td>
                    <td><%= serie.larg_ce.to_s + 'x' + serie.altura_ce.to_s + 'x' + serie.profund_ce.to_s  %></td>
                    <td><%= serie.larg_se.to_s + 'x' + serie.altura_se.to_s + 'x' + serie.profund_se.to_s  %></td>
                    <td><%= serie.peso_ce %></td>
                    <td><%= serie.peso_se %></td>
                    <td><%= unless serie.fornecedor.nil? then serie.fornecedor.nome end %></td>
                    <td><%= serie.codigo_forn %></td>
                    <td><%= unless serie.fabricante.nil? then serie.fabricante.nome end %></td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>
        <% if notice %>
        <div class="alert alert-info">
            <p id="notice">
                <%= notice %>
            </p>
        </div>
        <%end%>

    </div>
</div>

<ul class="pager">
    <li>
        <%= link_to 'Editar', edit_produto_path(@produto) %>
    </li>
    <li>
        <%= link_to 'Voltar', produtos_path %>
    </li>
</ul>
