<%= form_for(@usuario) do |f| %>
<% if @usuario.errors.any? %>
<div class="alert alert-danger">
	<h5><%= pluralize(@usuario.errors.count, "error") %> Dados inválidos para gravação:</h5>

	<ul>
		<% @usuario.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<div class="row">
		<div class="col-md-12">
			Nome do Usuário
			<br>
			<%= f.text_field :nome, :class => 'form-control',:style=>"text-transform:uppercase",:onblur=>"this.value=this.value.toUpperCase()" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			Login
			<br>
			<%= f.text_field :login, :type => 'email', :class => 'form-control', :placeholder=>'Digite o email' %>
		</div>

		<div class="col-md-6">
			Nivel de Acesso
			<br>
			<select id="usuario_nivel" name="usuario[nivel]" class="form-control">
				<%= options_for_select([['Administrador', 0], ['Usuário', 1]], @usuario.nivel) %>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			% Comissão
			<br>
			<%= f.text_field :perComiss,:class => 'form-control', data: { role: 'money', a_sep: '', a_dec: '.' } %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			Senha
			<br>
			<%= f.password_field :password, :class=>'form-control' %>
		</div>
		<div class="col-md-6">
			Confirmar Senha
			<br>
			<%= f.password_field :password_confirmation, :class=>'form-control' %>
		</div>
	</div>
</div>
<div class="actions">
	<%= f.submit 'Gravar Usuário', :class => 'btn btn-default' %>
</div>
<% end %>

