<% if notice %>
   <div class="alert alert-info"><p id="notice"><%= notice %></p></div>
<%end%>

<h1>Cadastro de Usuários</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Nivel</th>
      <th>% Comissão</th>
      <th style="width: 10%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.login %></td>
        <td><%= usuario.nivel %></td>
        <td><%= usuario.perComiss %></td>
        <td><%= link_to 'Mostrar', usuario,:class=>'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario),:class=>'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Apagar', usuario, method: :delete, data: { confirm: 'Tem Certeza?' },:class=>'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuario', new_usuario_path, :class=> 'btn btn-default' %>
