<% if notice %>
  <div class="alert alert-info"><p id="notice"><%= notice %></p></div>
<%end%>

<div class="panel panel-default" style="width: 800px;margin: 0 auto">
  <div class="panel-heading"><h4>Detalhe do Usuário</h4></div>
  <div class="panel-body">	

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.login %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @usuario.nivel %>
</p>

<p>
  <strong>% Comissão:</strong>
  <%= @usuario.perComiss %>
</p>
  </div>
</div>

<ul class="pager">
   <li><%= link_to 'Editar', edit_usuario_path(@usuario) %></li>
   <li><%= link_to 'Voltar', usuarios_path %></li>
</ul>
