<%= form_for(@participante) do |f| %>
<% if @participante.errors.any? %>
<div class="alert alert-danger">
	<h5><%= pluralize(@participante.errors.count, "error") %> Dados inválidos para gravação:</h5>

	<ul>
		<% @participante.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			Tipo
			<br>
			<select id="participante_tipo" name="participante[tipo]" class="form-control">
				<%= options_for_select([['Pessoa Física', 'F'], ['Pessoa Jurídica', 'J']], @participante.tipo) %>
			</select>
		</div>
		<div class="col-md-3">
			Características
			<br>
			<select id="participante_cli_ou_for" name="participante[cli_ou_for]" class="form-control">
				<%= options_for_select([['Cliente', 'C'], ['Fornecedor', 'F'], ['Ambos','A']], @participante.cli_ou_for) %>
			</select>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			Nome
			<br>
			<%= f.text_field :nome,  :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			CPF/CNPJ
			<br>
			<%= f.text_field :cnpj, size:14, :class => 'form-control input-normal' %>
		</div>
		<div class="col-md-5">
			RG/Inscrição Estadual
			<br>
			<%= f.text_field :ie, :class => 'form-control' %>
		</div>
	</div>

	<br>
	<h4><span  class="label label-default">Endereço</span></h4>
	<div class="row">
		<div class="col-md-12">
			Logradouro
			<br>
			<%= f.text_field :ender, :class => 'form-control'%>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			Número
			<br>
			<%= f.text_field :numero, :class => 'form-control' %>
		</div>
		<div class="col-md-8">
			Bairro
			<br>
			<%= f.text_field :bairro, :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			Cidade
			<br>
			<%= f.text_field :cidade, :class => 'form-control' %>
		</div>
		<div class="col-md-2">
			UF
			<br>
			<%= f.text_field :uf, :class => 'form-control' %>
		</div>
		<div class="col-md-3">
			CEP
			<br>
			<%= f.text_field :cep, :class => 'form-control' %>
		</div>
	</div>

	<h4><span  class="label label-default">Endereço de Cobrança</span></h4>
	<div class="row">
		<div class="col-md-12">
			Logradouro
			<br>
			<%= f.text_field :ender_cob, :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			Número
			<br>
			<%= f.text_field :numero_cob, :class => 'form-control' %>
		</div>
		<div class="col-md-8">
			Bairro
			<br>
			<%= f.text_field :bairro_cob, :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			Cidade
			<br>
			<%= f.text_field :cidade_cob, :class => 'form-control' %>
		</div>
		<div class="col-md-2">
			UF
			<br>
			<%= f.text_field :uf_cob, :class => 'form-control' %>
		</div>
		<div class="col-md-3">
			CEP
			<br>
			<%= f.text_field :cep_cob, :class => 'form-control' %>
		</div>
	</div>

	<h4><span  class="label label-default">Endereço de Entrega</span></h4>
	<div class="row">
		<div class="col-md-12">
			Endereço Entrega
			<br>
			<%= f.text_field :ender_entrega, :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			Número
			<br>
			<%= f.text_field :numero_entrega, :class => 'form-control' %>
		</div>
		<div class="col-md-8">
			Bairro
			<br>
			<%= f.text_field :bairro_entrega, :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			Cidade
			<br>
			<%= f.text_field :cidade_entrega, :class => 'form-control' %>
		</div>
		<div class="col-md-2">
			UF
			<br>
			<%= f.text_field :uf_entrega, :class => 'form-control' %>
		</div>
		<div class="col-md-3">
			CEP
			<br>
			<%= f.text_field :cep_entrega, :class => 'form-control' %>
		</div>
	</div>

	<h4><span  class="label label-default">Outros Dados</span></h4>

	<div class="row">
		<div class="col-md-4">
			Telefone 1
			<br>
			<%= f.text_field :tel1, :class => 'form-control' %>
		</div>
		<div class="col-md-4">
			Telefone 2
			<br>
			<%= f.text_field :tel2, :class => 'form-control' %>
		</div>
		<div class="col-md-4">
			Telefone 3
			<br>
			<%= f.text_field :tel3, :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			Email para NFe
			<br>
			<%= f.text_field :email_nfe,:type => 'email', :class => 'form-control', :placeholder=>'Digite o email'  %>
		</div>
		<div class="col-md-6">
			Email para Contato
			<br>
			<%= f.text_field :email_contato, :type => 'email', :class => 'form-control', :placeholder=>'Digite o email'  %>
		</div>
	</div>

</div>
<div class="actions">
	<%= f.submit 'Gravar Participante', :class => 'btn btn-default' %>
</div>
<% end %>
