<%= form_for(@participante) do |f| %>
<% if @participante.errors.any? %>
<div class="alert alert-danger">
    <h5><%= pluralize(@participante.errors.count, "error") %> Dados inválidos para gravação:</h5>

    <ul>
        <% @participante.errors.full_messages.each do |message| %>
        <li>
            <%= message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            Tipo
            <br>
            <select id="participante_tipo" name="participante[tipo]" class="form-control" onchange="mudaMascara(this.value)"  >
                <%= options_for_select([['Pessoa Física', 'F'], ['Pessoa Jurídica', 'J']], @participante.tipo) %>
            </select>
        </div>
        <div class="col-md-3">
            Características
            <br>
            <select id="participante_cli_ou_for" name="participante[cli_ou_for]" class="form-control">
                <%= options_for_select([['Cliente', 'C'], ['Fornecedor', 'F'], ['Ambos','A']], @participante.cli_ou_for) %>
            </select>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            Nome
            <br>
            <%= f.text_field :nome,:maxlength=>100,  :class => 'form-control' %>
        </div>
    </div>

    <div class="row" on>
        <div class="col-md-5">
            CPF/CNPJ
            <br>
            <%= f.text_field :cnpj, :class => 'form-control input-normal',:id=>'cnpj'%>
        </div>
        <div class="col-md-5">
            RG/Inscrição Estadual
            <br>
            <%= f.text_field :ie,:maxlength=>20, :class => 'form-control' %>
        </div>
    </div>

    <br>
    <div id="accordion" class="panel panel-info">
        
        <div class="panel-heading">Contatos</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-4">
                    Telefone 1
                    <br>
                    <%= f.text_field :tel1, :class => 'form-control', :id=>"tel1" %>
                </div>
                <div class="col-md-4">
                    Telefone 2
                    <br>
                    <%= f.text_field :tel2, :class => 'form-control', :id=>"tel2" %>
                </div>
                <div class="col-md-4">
                    Telefone 3
                    <br>
                    <%= f.text_field :tel3, :class => 'form-control',:id=>"tel3" %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Email para NFe
                    <br>
                    <%= f.text_field :email_nfe,:maxlength=>45,:type => 'email', :class => 'form-control', :placeholder=>'Digite o email'  %>
                </div>
                <div class="col-md-6">
                    Email para Contato
                    <br>
                    <%= f.text_field :email_contato,:maxlength=>45, :type => 'email', :class => 'form-control', :placeholder=>'Digite o email'  %>
                </div>
            </div>
        </div>

        <div class="panel-heading">Endereço</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    Logradouro
                    <br>
                    <%= f.text_field :ender,:maxlength=>100, :class => 'form-control'%>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Número
                    <br>
                    <%= f.text_field :numero,:maxlength=>10, :class => 'form-control' %>
                </div>
                <div class="col-md-8">
                    Bairro
                    <br>
                    <%= f.text_field :bairro,:maxlength=>60, :class => 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    Cidade
                    <br>
                    <%= f.text_field :cidade,:maxlength=>100, :class => 'form-control' %>
                </div>
                <div class="col-md-2">
                    UF
                    <br>
                    <%= f.text_field :uf,:maxlength=>2, :class => 'form-control',:style=>"text-transform:uppercase" %>
                </div>
                <div class="col-md-3">
                    CEP
                    <br>
                    <%= f.text_field :cep, :class => 'form-control', :id=>"cep" %>
                </div>
            </div>
        </div>
        <div class="panel-heading">Endereço de Cobrança</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    Logradouro
                    <br>
                    <%= f.text_field :ender_cob,:maxlength=>100, :class => 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Número
                    <br>
                    <%= f.text_field :numero_cob,:maxlength=>10, :class => 'form-control' %>
                </div>
                <div class="col-md-8">
                    Bairro
                    <br>
                    <%= f.text_field :bairro_cob,:maxlength=>60, :class => 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    Cidade
                    <br>
                    <%= f.text_field :cidade_cob,:maxlength=>100, :class => 'form-control' %>
                </div>
                <div class="col-md-2">
                    UF
                    <br>
                    <%= f.text_field :uf_cob,:maxlength=>2, :class => 'form-control',:style=>"text-transform:uppercase" %>
                </div>
                <div class="col-md-3">
                    CEP
                    <br>
                    <%= f.text_field :cep_cob, :class => 'form-control', :id=>"cep_cob" %>
                </div>
            </div>
        </div>
        <div class="panel-heading">Endereço de Entrega</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    Endereço Entrega
                    <br>
                    <%= f.text_field :ender_entrega,:maxlength=>100, :class => 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Número
                    <br>
                    <%= f.text_field :numero_entrega,:maxlength=>10, :class => 'form-control' %>
                </div>
                <div class="col-md-8">
                    Bairro
                    <br>
                    <%= f.text_field :bairro_entrega,:maxlength=>60, :class => 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    Cidade
                    <br>
                    <%= f.text_field :cidade_entrega,:maxlength=>100, :class => 'form-control' %>
                </div>
                <div class="col-md-2">
                    UF
                    <br>
                    <%= f.text_field :uf_entrega,:maxlength=>2, :class => 'form-control',:style=>"text-transform:uppercase" %>
                </div>
                <div class="col-md-3">
                    CEP
                    <br>
                    <%= f.text_field :cep_entrega, :class => 'form-control', :id=>"cep_ent" %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <%= f.submit 'Gravar Participante', :class => 'btn btn-default' %>
</div>
<% end %>

<script>
	function mudaMascara(tipo) {
		if (tipo == 'J') {
			$("#cnpj").mask("99.999.999/9999-99");
		} else {
			$("#cnpj").mask("999.999.999-99");
		};
	};

	jQuery(function($) {
		var tipo = $("#participante_tipo").val();
		if (tipo == "J") {
			mascara = "99.999.999/9999-99";
		} else {
			mascara = "999.999.999-99";
		};
		$("#date").mask("99/99/9999");
		$("#tel1").mask("(99) ?9999-9999");
		$("#tel2").mask("(99) ?9999-9999");
		$("#tel3").mask("(99) ?9999-9999");
		$("#cnpj").mask(mascara);
		$("#cep").mask("99999-999");
		$("#cep_cob").mask("99999-999");
		$("#cep_ent").mask("99999-999");

	});

	$(function() {

		var icons = {
			header : "glyphicon glyphicon-chevron-right",
			activeHeader : "glyphicon glyphicon-chevron-down"
		};

		$("#accordion").accordion({
			icons : icons,
		});
	}); 
</script>
