<h1>Cadastro de Formas de Pagto</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th style="width: 10%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formapagtos.each do |formapagto| %>
      <tr>
        <td><%= formapagto.descr %></td>
        <td><%= link_to 'Mostrar', formapagto, :class=>'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Ediatr', edit_formapagto_path(formapagto),:class=>'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Apagar', formapagto, method: :delete, data: { confirm: 'Tem Certeza?' },:class=>'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Forma de Pagamento', new_formapagto_path, :class=> 'btn btn-default' %>
