<!DOCTYPE html>
<html>
<head>
  <title>Sic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:usuario_id] %>
	  <%= render file:'layouts/menu.html.erb' %>
	<% end %>
    <div class="container">
       <div class="panel">	
         <div class="panel-body">	
           <%= yield %>
         </div>
       </div>
    </div>
    
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <p class="navbar-text">SIC - Sistema integrado Connexxus - Connexxus Tecnologia da Informação</p>
      </div>
    </nav>
</body>
</html>
