<!DOCTYPE html>
<html>
<head>
  <title>Sic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation">
    <div class="container">
    
	  <% if session[:usuario_id] %>
	     <%= render file:'layouts/menu.html.erb' %>
	  <% end %>
    </div>
  </nav>
  <div style="padding-top: 70px;" class="container">
      <%= yield %>
  </div>  
    <script>$('input[data-role=money]').autoNumeric('init')</script>
    <script>
        function SomenteNumero(e){
            var tecla=(window.event)?event.keyCode:e.which;   
            if((tecla>47 && tecla<58)) return true;
            else{
                 if (tecla==8 || tecla==0) return true;
                 else  return false;
            }
        }
    </script>
</body>
</html>
