     <nav class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
 
  	      <a class="navbar-link navbar-left" href="http://www.connexxus.com.br">
        	 <%=image_tag('logo-mini.png',width: '103px', height: '50px',:class =>'img-thumbnail')%>
           </a>
        <ul class="nav navbar-nav"> 	
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/participantes">Participantes</a></li>
               <li class="divider"></li>
               <li><a href="/produtos">Produtos</a></li>
               <li><a href="/finalidades">Finalidade</a></li>
               <li><a href="/departamentos">Departamentos</a></li>
               <li class="divider"></li>
               <li><a href="/formapagtos">Forma de Pagamento</a></li>
               <li><a href="/formaenvios">Forma de Envio</a></li>
               <li class="divider"></li>
               <li><a href="/usuarios">Usuários</a></li>
               <li><a href="/parametros">Configurações</a></li>
             </ul>
           </li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lançamentos<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li class="disabled"><a href="#">Compras</a></li>
               <li class="disabled"><a href="#">Pedidos</a></li>
             </ul>
           </li>
          	
           <li class="disabled"><a href="#">Relatórios</a></li>
           
           <li class="dropdown"> 
           	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           	 	<%=image_tag('futurexp_general_bulb_24.png',width: '24px', height: '24px')%>
           	 	Sobre<b class="caret"></b>
           	 </a>
             <ul class="dropdown-menu">
               <li><a href="/sobre"></span> Versão</a></li>
               <li><a href="http://www.connexxus.com.br">Connexxus</a></li>
             </ul>
           </li>
           
        </ul>
        
        <ul class="nav navbar-nav navbar-right"> 
           <li class="dropdown">
        	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	 	<b><%= session[:usuario_nome] %> </b> 
        	    <%=image_tag('futurexp_general_user_24.png',width: '24px', height: '24px')%>
        	 </a>
        	 <ul class="dropdown-menu">
        	    <li>
        	  	<a href="/logout">
           	      <%=image_tag('futurexp_general_door_outside_24.png',width: '24px', height: '24px')%>
           	      Sair
           	    </a>
                </li>
             </ul>
           </li>
        		
        </ul>
    </div>
    </nav>
  
